*{
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 3rem;
}

button{
    background-color: cyan;
    padding: 10px 16px;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
}

.changeBy{
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    margin: 16px 8px;
}